USE [MapOfRussia3]
GO 

SET NOCOUNT ON;

SELECT TABLE_NAME, COLUMN_NAME, ORDINAL_POSITION --, DATA_TYPE
FROM INFORMATION_SCHEMA.COLUMNS
INNER JOIN sys.Tables
ON INFORMATION_SCHEMA.COLUMNS.TABLE_NAME=sys.Tables.name
WHERE sys.Tables.schema_id = 1
;
